@import url(https://cdn.rawgit.com/tonsky/FiraCode/1.205/distr/fira_code.css);

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
a {
    color: inherit;
    text-decoration: none

}
*, *::before, *::after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }





body {
    margin: auto;
    // font-family: 'Fira Code', sans-serif;
    font-family: 'Quicksand', sans-serif;
}
a {
    color: black;
    font-weight: 800;
}
a:hover {
    color: rgba(0, 0, 0, 0.5);
}

// bootstrapowe taby cardy
section {
    border: 2px solid black;
    border-radius: 5px 5px;
    border-bottom: none;
  

    .nav {
        background-color: #fff;
        margin:auto;
        margin-top: 120px;
        font-size: 2rem;
        width: 100%;
        display: flex;
        justify-content: center;
        color: black;
        .nav-item {
            color: black;
            @media (max-width:800px) {
                font-size: 1rem;
            }
        }
        .nav-link {
            
            background-color: rgba(255, 255, 255, 0.301);
        }
        .active {
            border: 2px solid black !important;
            border-bottom: none;
        }
    }
}
nav { 
    
    img {
        width: 100%;
}
.button:hover {
    text-decoration: underline;
}
    .modal {
        margin-top: 50px;
        width: 100%;
    }
    .socialnav {
      
        border-bottom: 2px solid black;
        border-top: none;
        background-color: rgb(255, 209, 6);
        font-weight: 800;
        position: fixed;
        width: 100%;
        z-index: 9999;
        display: flex;
        flex-wrap: wrap;
        padding: 5px;
        margin-bottom: 150px;
        @media (max-width:800px) {
            font-size: 0.7rem;
            padding: 5px;
            align-items: center;
            gap: 5px;
            flex-wrap: wrap;

        }
        .moreAbout {
        @media (max-width:800px) {
            display: none !important;
                }
            }       
        .title {
            flex: 1;
            @media (max-width:800px) {
                 h1 {
                     font-weight: 700;
                     text-decoration: underline;
                     font-size: 1rem;
                     margin:auto;
                 }
            }
        }
        
        .el {
            .btn {
                border: none;
                padding: 0;
                font-size: 1rem;
                font-weight: 600;
            }
           
            // border-left: 2px solid black;
            margin: 0 15px;
            padding: 0;
            display: flex;
            flex-direction: row;
            @media (max-width:600px) {
                margin: 0;
            }

             i {
                 margin-left: 2px;
                 margin-right: 10px;
                 align-self: center;
                 @media (max-width:800px) {
                    margin: 0 5px 0 13px;
                }
    
             }
            .content {
                display: flex;
                flex-direction: column;
                align-self: center;
                p {
                    align-self: center;
                    padding: 0;
                    margin: 0;
                    
                }
                p:hover {
                    text-decoration: underline;
                    cursor: pointer;

                }
                .tel:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }

    ul {
        display: flex;
        flex-direction: row;
        font-size: 2rem;
        opacity: 0.7;
    
    }
}
main {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    width: 100%;
    // height: 700px;
    z-index: 222;
    
    
    .bg {
        background-image: url("https://images.pexels.com/photos/788200/pexels-photo-788200.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
        background-size: cover;
        background-repeat: no-repeat;
        object-fit: cover;
        background-position: center;
        position: absolute;
        height: 700px;
        width: 100%;
        z-index: -99;
        opacity: 0.2;
        
    
    }
    .tab-content {
         background-image: url("pics/61199969_366717827287040_3685638511894986752_o.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        object-fit: cover;
        background-position: center;
        display: flex;
       
    }
    .tab-pane {
        margin: auto;
        color: black;
        font-size: 1.7rem;
        font-weight: 500;
        padding: 0 50px;
        height: 700px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.493);
       
        @media (max-width:800px) {
            font-size: 1.3rem;
            height: 400px;
            padding: 0;
        }
        .text {
            display: flex;
            height: 100%;
            p {
                margin: auto;
            }
        }
        // justify-self: center;
        // align-self: center;
        
        
        .carousel {
            display: flex;
            height: 100%;
            
            .carousel-control-next-icon, .carousel-control-prev-icon {
                background-color: rgba(0, 0, 0, 0.897);
                padding: 15px;
                width: 50%;
            }
            .carousel-inner {
                margin: auto;
                border-top: 3px solid white;
                border-bottom: 3px solid white;
                width: 60%;
                @media (max-width:600px) {
                    font-size: 1rem;
                    width: 90%;
                    padding: 0;
                }

          }
        }
    }

}
footer {
    display: flex;
    margin: auto;
    justify-self: end;
    z-index: 999;
    background-color: rgba(255, 209, 6, 0.938);    
    border-top: 2px solid black;
    border-bottom: none;
    .up {
        background-color: #fff;
        padding: 5px;

        @media (max-width:800px) {
            font-size: 0.8rem !important;
        }

        i {
            transform: scale(1) , translateY();
            transition: all 0.2s ease;
            &:hover {
                cursor: pointer;
                transform: scale(1.5);
                transform: translateY(10px);
            }
        }

    }
    .fooSocial {
        width:100%;
        padding: 0px 10px;
        margin: 0;
        h5 {
            font-weight: 700;
        }
        p {
            padding: 0;
            margin: 0;
        }
        @media (max-width:600px) {
            padding: 5px 10px;
        }
    }
    ul {
        padding: 10px 10px;
        display: flex;
        flex-direction: row;
        list-style-type: none;
        gap: 30px;
        align-self: flex-start;
        justify-self: flex-end;
        @media (max-width:800px) {
            flex-wrap: wrap;
            flex-direction: column;
            padding: 5px 10px;
            gap: 5px;
            flex: 1;
        }
        div {
            display: flex;
            align-items: center;
            gap: 5px;
        }
        p {
            margin: 2px;
            padding:0 5px 0 0 ;
            text-decoration: underline;
        }
         i {    
             padding: 0;
             transform: scale(1);
             transition: all 0.2s ease;
             @media (max-width:800px) {
                 padding: 2px 0;
                font-size: 1.6rem !important;

            }
            //  &:hover {
            //      cursor: pointer;
            //      transform: scale(1.3);
            //  }

         }     
    }
}
